# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
ehthumbs.db
Icon?

# User settings
*.suo
*.user
*.userosscache
*.sln.docstates

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter / Dart / Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Generated documentation
**/doc/api/

# iOS
**/ios/Flutter/.last_build_id
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.xcframework
**/ios/Flutter/Generated.xcconfig
ios/Pods/
ios/Podfile.lock
ios/Runner.xcworkspace/
**/DerivedData/
*.xcworkspace
xcuserdata/
*.xcuserstate

# Android
**/local.properties
**/gradle-wrapper.jar
**/gradle-wrapper.properties
**/gradle/**
**/build/

# App distribution
app.*.symbols
app.*.map.json

# End of file
